nav{
  background-color: rgba(0, 10, 95, 0.8);
}
body{
  background-color: rgb(160, 160, 167);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.container{
  display: flex;
  justify-content: flex-end;
}
.avatar-img {
  height: 46px;
}