div.banner-image{
  height: 400px;
}
div.meat{
  display: flex;
  justify-content: flex-start;
}
div.meat-two{
  display: flex;
  justify-content: flex-start;
}
div.trailer{
  display: flex;
  justify-content: flex-end;
}
