<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>


<main>
  <h1><%= results.titles.en %> </h1>
</main>





<%- include('../partials/footer') %></link>